* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;

    /* #e6ecf0 */
} 

.feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
    font-family: Helvetica;
    padding-left: 25%;
    padding-right: 25%;
}

.feed_header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}

.feed_header h2{
    font-size: 20px;
    font-weight: 800;
}

.feed::-webkit-scrollbar{
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tweetbox_input span {
    border-radius: 50%;
    height: 40px;
}

.tweetbox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetbox form{
    display: flex;
    flex-direction: column;
}

.tweetbox_input {
    display: flex;
    padding: 20px;
}

.tweetbox_input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweetbox_tweetbutton {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}

/* post */
.post_avatar {
    border-radius: 50%;
    height: 40px;
    padding: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* padding-top: 10px; */
}

.post_header_special {
    font-weight: 500;
    font-size: 13px;
    color: grey;
}

.post_header_text h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.post_header_description {
    margin-bottom: 10px;
    font-size: 15px;
    /* padding: 0% 1% 0% 1%; */
}

.post_body {
    flex: 1;
    padding: 10px;
}
